@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
/* Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.brand h1 span {
    color:crimson;
}

.container {
    min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}

.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: crimson;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: crimson;
}
/* End Common */

/* Header section */
#sec-header {
    position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}

#sec-header .sec-header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}

#sec-header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	/* padding: Top Bottom Right Left */
	padding: 0 10px;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}

#sec-header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
}

#sec-header .nav-list ul.active {
	left: 0%;
}

#sec-header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}

#sec-header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}

#sec-header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}

#sec-header .nav-list ul li:hover a {
	color: crimson;
}

#sec-header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 90%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}

#sec-header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}

#sec-header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}

#sec-header .hamburger .bar::after,
#sec-header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}

#sec-header .hamburger .bar::after {
	top: 8px;
}
#sec-header .hamburger .bar::before {
	bottom: 8px;
}
#sec-header .hamburger.active .bar::before {
	bottom: 0;
}
#sec-header .hamburger.active .bar::after {
	top: 0;
}
/* End Header */

/* Begin Landing */
#sec-landing {
    /* background-image: url('./img/hero-bg.png'); */
    background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}

#sec-landing::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}

#sec-landing .sec-landing {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}

#sec-landing h1{
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}

#sec-landing h1:nth-child(1) {
	animation-delay: 1s;
}

#sec-landing h1:nth-child(2) {
	animation-delay: 2s;
}
#sec-landing h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}

#sec-landing h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}

#sec-landing h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#sec-landing h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#sec-landing h1:nth-child(3) span {
	animation-delay: 3.0s;
}
/* End Landing */

/* Begin Services */
#sec-services .sec-services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}

#sec-services .service-top {
	max-width: 500px;
	margin: 0 auto;
}

#sec-services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

#sec-services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./images/img-1.png);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

#sec-services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.9;
	z-index: -1;
}

#sec-services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
/* End Services */

/* Begin Projects Section */
#sec-projects .sec-projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}

#sec-projects .projects-header h1 {
	margin-bottom: 50px;
}

#sec-projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#sec-projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}

#sec-projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}

#sec-projects .project-info p {
	color: white;
}

#sec-projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}

#sec-projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}

#sec-projects .project-img img {
	transition: 0.3s ease transform;
}
#sec-projects .project-item:hover .project-img img {
	transform: scale(1.1);
}
/* End Projects Section */

/* Begin About Section */
#sec-about .sec-about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}

#sec-about .col-left {
	width: 250px;
	height: 360px;
}

#sec-about .col-right {
	width: 100%;
}

#sec-about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}

#sec-about .col-right p {
	margin-bottom: 20px;
}

#sec-about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}

#sec-about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid crimson;
	z-index: -1;
}
/* End About Section */

/* Begin Contact Section */
#sec-contact .sec-contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}

#sec-contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}

#sec-contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}

#sec-contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}

#sec-contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#sec-contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}

#sec-contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/* End Contact Section */

/* Begin Footer Section */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}

#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(2.4);
	}
}

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}

@keyframes text_reveal {
	100% {
		color: white;
	}
}

@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}

/* Hamburger Auto Adjust */
@media only screen and (min-width: 1800px) {
	#sec-header .hamburger {
		display: none;
	}
}
#sec-header .nav-list ul {
	position: initial;
	display: block;
	height: auto;
	width: fit-content;
	background-color: transparent;
}
#sec-header .nav-list ul li {
	display: inline-block;
}
#sec-header .nav-list ul li a {
	font-size: 1.8rem;
}
#sec-header .nav-list ul a:after {
	display: none;
}

#sec-services .service-bottom .service-item {
	flex-basis: 22%;
	margin: 1.5%;
}
